{{> navBar}}

<div class="product">
  <h1 class="titleDetail">{{productDetail.title}}</h1>
  <div class="productDetail">
    <img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.fVw9JodzxGszcW51PEDnoAAAAA%26pid%3DApi&f=1&ipt=728f1607c998e79909475d842d8f820e0fccfb7473a337951a49e845a158e7bf&ipo=images"
      alt="no image available">
    <div class="detail">
      <p>Description: {{productDetail.description}} </p>
      <p>Category: {{productDetail.category}}</p>
      <p>Price: ${{productDetail.price}}</p>
      <button class="addCart">Add to cart</button>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/products.js"></script>