{{> navBar}}

<h1>UPDATE DOCUMENTS</h1>

<form action="" class="updateDocuments" id="updateDocuments">
  <label for="identification">Identification:</label>
  <input type="file" name="document" id="identification" accept=".jpg, .jpeg, .png, .pdf">
  <label for="proofOfAddress">Proof of address:</label>
  <input type="file" name="document" id="proofOfAddress" accept=".jpg, .jpeg, .png, .pdf">
  <label for="proofOfAccount">Proof of account:</label>
  <input type="file" name="document" id="proofOfAccount" accept=".jpg, .jpeg, .png, .pdf">
  <button type="submit">Update</button>
</form>

<div id="previewContainer" class="displayNone">
  <div id="previewIdentification" class="displayNone">
    <p>Identification:</p>
  </div>
  <div id="previewProofOfAddress" class="displayNone">
    <p>Proof of address:</p>
  </div>
  <div id="previewProofOfAccount" class="displayNone">
    <p>Proof of account:</p>
  </div>
</div>

<script src="js/updateDocuments.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>