* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  
  h1 {
    text-align: center;
    color: rgb(34, 34, 134);
    font-size: 2.5rem;
  }
  
  .card {
    box-shadow: 0 0 1rem rgb(187, 185, 185);
    width: 17rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding: 0.5rem 2rem;
  }
  
  .button {
    width: 7rem;
    height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    background-color:  rgb(48, 156, 228);
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 80%;
    margin: 5rem auto;
  }
  
  .forms {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 5rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    gap: 0.5rem;
  }
  
  .form div {
    width: 100%;
    display: flex;
    gap: 0.5rem;
  }
  
  .form div input {
    width: 100%;
  }
  