<ul class="navBar">
  <li><a href="/products">Home</a></li>
  <li><a href="/realTimeProducts">Real Time Products</a></li>
  <li><a href="/chat">Chat</a></li>
  <li><a href="/cart/65ff33826a6a680e86458716">Cart</a></li>
</ul>