{{> navBar}}

<h1>Update Documents</h1>

<form action="" class="updateDocuments" id="updateDocuments">
  <label for="identification">Identification:</label>
  <input type="file" name="document" id="identification">
  <label for="proofOfAddress">Proof of address:</label>
  <input type="file" name="document" id="proofOfAddress">
  <label for="proofOfAccount">Proof Of account:</label>
  <input type="file" name="document" id="proofOfAccount">
  <button type="submit">Update</button>
</form>

<script src="js/updateDocuments.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>